<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SendEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <SendEmail.Properties.Settings>
            <setting name="smtpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="prot" serializeAs="String">
                <value />
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="userPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="copyRight" serializeAs="String">
                <value>V2.1  By SEVENTEEN</value>
            </setting>
        </SendEmail.Properties.Settings>
    </userSettings>
</configuration>